/* width */
@media  (max-width: 767px) {
    .custom_scroll::-webkit-scrollbar {
        height: 7px;
    }
}

@media  (min-width: 768px) {
    .custom_scroll::-webkit-scrollbar {
        width: 9px;
    }
}

/* Track */
.custom_scroll::-webkit-scrollbar-track {
    box-shadow: none;
    border-radius: 10px;
}

/* Handle */
.custom_scroll::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 10px;
}

/* Handle on hover */
.custom_scroll::-webkit-scrollbar-thumb:hover {
    background: #707070;
}
